<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NETFLEX - TV Shows</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
<nav class="flex justify-between items-center p-4 bg-gray-900">
    <h1 class="text-2xl font-bold text-red-600">NETFLEX</h1>
    <ul class="flex space-x-6">
      <li><a href="/user/netflex/home" class="hover:text-red-500">Home</a></li>
      <li><a href="/user/netflex/movies" class="hover:text-red-500">Movies</a></li>
      <li><a href="/user/netflex/tvshows" class="hover:text-red-500">TV Shows</a></li>
      <li><a href="/user/netflex/mylist" class="hover:text-red-500">My List</a></li>
      <li><a href="/user/netflex/setting" class="hover:text-red-500">Settings</a></li>
      <li><a href="/user/netflex/search" class="hover:text-red-500">Search</a></li>

    </ul>
  </nav>
  <section class="p-6">
    <h2 class="text-2xl mb-4 font-bold">Popular TV Shows</h2>
    <div class="grid grid-cols-6 gap-4">
      <div><img src="https://image.tmdb.org/t/p/w300/5VVA8agvvhdV2TlM8ktX3Af1fCp.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/rqkmM3L2tOjZ9RkX6LRiG6chxMx.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/ooBGRQBdbGzBxAVfExiO8r7kloA.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/wJUJROdP9zU8xS3n3S7Qp3p0QOk.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/g1AjBUv4rU8BvbZXGfya3eKbr8F.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/7jO8xaFbG2pj7hWcWnczuVoRf0K.jpg"></div>
    </div>
  </section>
</body>
</html>
