<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NETFLEX - Movies</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
      <%- include('partials/navbar') %>
<nav class="flex justify-between items-center p-4 bg-gray-900">
    <h1 class="text-2xl font-bold text-red-600">NETFLEX</h1>
    <ul class="flex space-x-6">
      <li><a href="/user/netflex/home" class="hover:text-red-500">Home</a></li>
      <li><a href="/user/netflex/movies" class="hover:text-red-500">Movies</a></li>
      <li><a href="/user/netflex/tvshows" class="hover:text-red-500">TV Shows</a></li>
      <li><a href="/user/netflex/mylist" class="hover:text-red-500">My List</a></li>
      <li><a href="/user/netflex/setting" class="hover:text-red-500">Settings</a></li>
      <li><a href="/user/netflex/search" class="hover:text-red-500">Search</a></li>

    </ul>
  </nav>
      <section class="p-6">
    <h2 class="text-2xl mb-4 font-bold">All Movies</h2>
    <div class="grid grid-cols-6 gap-4">
      <div><img src="https://image.tmdb.org/t/p/w300/lyQBXzOQSuE59IsHyhrp0qIiPAz.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/bkpPTZUdq31UGDovmszsg2CchiI.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/kyeqWdyUXW608qlYkRqosgbbJyK.jpg"></div>
      <div><img src="https://image.tmdb.org/t/p/w300/tp45hbhNW3llQIQY9Rr0lUkwQJ8.jpg"></div>
    </div>
  </section>
</body>
</html>
